<!-- <tbody>
    <tr *ngFor="let item of datos; let x = index " >
      <td> {{x}}</td>
      <td> {{item.nombre}}</td>
      <td> {{item.email}}</td>
    </tr>
  </tbody> -->

  <div class="parsel roboto-condensed-valemia-t">Dashboard</div> 
  <app-btncollide></app-btncollide> 

  <app-menu></app-menu>
  <div class="window">
  


      <div class="row">

      <div class="col-12 col-md-6">

        <canvas id="myChart" height="200px"> </canvas>

      </div>

      
      <div class="col-12 col-md-6">

        <canvas id="myChart4" height="200px"> </canvas>

      </div>

      <div class="col-12 col-md-6">

        <canvas id="myChart2" height="200px"> </canvas>

      </div>
      

      <div class="col-12 col-md-6">

        <canvas id="myChart3" height="200px"> </canvas>

      </div>




    </div>
</div>
