
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom anton-sm fixed-top">
    <a class="navbar-brand anton-regular " routerLink="/">Bar Sell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
      <li>
      <li class="nav-item">
        <a class="nav-link anton-regular" routerLink="/about_us">Nosotros</a>
      </li>
      <li class="nav-item mr-auto">
        <a class="nav-link anton-regular" routerLink="/location">Ubicacion</a>
      </li>
        
        <!-- <li class="nav-item position-relative">
          <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-toggle="dropdown" aria-expanded="false">Ciudad</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="#">Bogota</a>
            <a class="dropdown-item" routerLink="#">Cali</a>
            <a class="dropdown-item" routerLink="#">Barranquilla</a>
            <a class="dropdown-item" routerLink="#">Medellin</a>
          </div> -->
        
      </ul>

      <app-art-icon/>

      <div class="nav-item active" >
        
        <a  class="nav-link anton-regular" routerLink="/login">Login</a>
      </div>
      
      <div class="form-inline my-2 my-lg-0">
        <input id="search" class="form-control mr-sm-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-sm-0  rounded-pill nbtnoff" type="submit">Buscar</button>
      </div>
    </div>
  </nav>