
      <!-- store cards -->


      <div class="container">
        <div class="row">

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 ">
            <div class="rounded overflow-hidden">
              <img src="./assets/g-img1.webp" class="zoomin card-img-top mt-3 rounded" alt="...">
            </div>
            <div class="card-body">
              <h2 class="anton-ul">Compra Baileys</h2>
            </div>
          </div>
          <div class=" col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 ">
            <div class="rounded overflow-hidden">
              <img src="./assets/g-img2.webp" class="zoomin card-img-top mt-3 rounded" alt="...">
            </div>
            <div class="card-body">
              <h2 class="anton-ul">Conoce nuestras recetas</h2>
            </div>
          </div>
          <div class=" col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 ">
            <div class="rounded overflow-hidden">
              <img src="./assets/g-img3.webp" class="zoomin card-img-top mt-3 rounded" alt="...">
            </div>
            <div class="card-body">
              <h2 class="anton-ul">Merchandising Exclusivo</h2>
            </div>
          </div>
          
          
            </div>
          </div>
        


      <div class="dropdown-divider my-4"></div>
