<app-header></app-header>

  <!-- mission -->

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="py-3 my-5">
          <img class="img-fluid" src="./assets/bg-about2.png" alt="...">
        </div>
      </div>
        
        <div id="about-us" class="graytext roboto-condensed-valemia-t p-4 text-center my-4 col-12 col-lg-6 my-4">
            <h2 class="my-4">Sobre Nosotros</h2>
            <p>Bienvenidos a <strong>Bar sell</strong>!</p>
            <p>En <strong>Bar sell</strong>, nos enorgullece ofrecer una experiencia única y vibrante para todos nuestros clientes. Desde nuestro comienzo, nos hemos esforzado por ser más que solo un bar; nos consideramos un punto de encuentro para amigos, familiares y comunidad.</p>
            <p>Fundado en <strong>1997</strong>, <strong>Bar sell</strong> ha sido un pilar en la escena nocturna local, atrayendo a clientes de todas partes con nuestra atmósfera acogedora, excelente selección de bebidas y servicio excepcional.</p>
            <p>Nuestro equipo está compuesto por apasionados expertos en mixología y servicio al cliente, dedicados a garantizar que cada visita sea memorable y satisfactoria. Desde cócteles clásicos hasta creaciones innovadoras, nuestras bebidas son cuidadosamente elaboradas con los mejores ingredientes y presentadas con estilo.</p>
            <p>Esperamos tenerte pronto en <strong>Bar sell</strong> para que experimentes todo lo que tenemos para ofrecer!</p>
        </div>
        
        

        <div id="mission" class="graytext roboto-condensed-valemia-t p-4 text-center  my-4 col-12 col-lg-6 my-4">
            <h2 class="my-4">Nuestra Misión</h2>
            <p>En <strong>Bar Sell</strong>, nuestra misión es crear un espacio donde las personas puedan reunirse, relajarse y disfrutar de momentos memorables en un ambiente acogedor y vibrante. Nos esforzamos por ofrecer una experiencia excepcional a cada cliente, desde la calidad de nuestras bebidas y platos hasta el servicio personalizado que brindamos.</p>
            <p>Buscamos ser más que un simple bar; queremos ser un lugar de encuentro para la comunidad, donde personas de todos los ámbitos de la vida se sientan bienvenidas y valoradas. Nos comprometemos a mantener altos estándares de integridad, hospitalidad y creatividad en todo lo que hacemos.</p>
            <p>Además, estamos dedicados a apoyar y colaborar con otros negocios locales, así como a contribuir positivamente al desarrollo y bienestar de nuestra comunidad. Creemos en la importancia de cultivar relaciones sólidas y enriquecedoras tanto dentro como fuera de nuestras paredes.</p>
            <p>En resumen, nuestra misión en <strong>Bar Sell</strong> es proporcionar un espacio donde la diversión, la amistad y la buena comida y bebida se unan para crear experiencias inolvidables para todos nuestros clientes.</p>
        </div>
        <div class="col-12 col-lg-6">
          <div class="py-3 my-5">
            <img class="img-fluid" src="./assets/bg-about1.webp" alt="...">
          </div>
        </div>
    </div>  
</div>
  



<app-footer></app-footer>