<app-header></app-header>

    <!-- maps -->

    <div class="container">
        <div class="row px-1 py-5 my-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15904.464267132245!2d-74.1130071128418!3d4.749866899999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f84592f4f9bfd%3A0xbcb02575b2dddae9!2sDrakkar%20cocktails%20cafe%20bar!5e0!3m2!1ses-419!2sco!4v1712683960008!5m2!1ses-419!2sco" width=100% height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      </div>
        
      </div>
      

<app-footer></app-footer>